# Global Shark Attack Incidents

## First pandas proyect

 ### Step 1.- Data acquisition:

In [15]:
import pandas as pd
import numpy as np

In [16]:
# At importing dataset it is necessary to change encoding to open it.
# It is not encoded as utf-8, so it is necessary to open it with the correct encoding.
df = pd.read_csv('input/GSAF5.csv',encoding= 'iso-8859-1')

### Step 2.- Data cleaning:

The first thing that will be done is to do an overvierw of what kind of data do we have and the quality of It.

In [17]:
'''
Let's set the options to be able to see all clomuns while printing our dataset. 
'''
pd.set_option('display.max_columns', 24)
'''
Afterwrds lets check our data and make a decission about what data do we have,
what is the quality of them and choose the column that can be usefull to get interesting
conclusions about this dataset.
'''

df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

Ok, we have a lot of data: 

About kinds of sharks, when it attacked people, where it was, what was this people doing while the attack was performed, the injuries and if it was fatal or not, name of the person, a refference about the source of the data aqduisition and other data about sources and files refferences.

Let's check the quality of this data to be able to know what can be useful for us.

In [18]:
#Lets check about null values in columns and compare them with the size of our dataframe:
print('The size of our dataframe is:',df.shape)
null_values = df.isnull().sum()
null_values[null_values > 0]

The size of our dataframe is: (5992, 24)

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

We can see that there are two columns with almost 95% of rows with NaN values, this is unusefull for us.

Afterwars we have tree columns with near to half of the values NaN, but it could contain data that can be used to get any conclussion as type of shark, the moment of the day when the attack was performed or the shark species which attacked.
Anyway, as the dataset has other data stored with much more information in which we can focus on. We will discard Age, Time and Species.

Other columns as Name, href formula, pdf or href have data that can't be used to make decissions or get conclussions. They have so heterogeneus strings data or in case of Case Number, case Number.1 and case Number.2 the data are so similar to the other, so we will discard them.

In [19]:
'''
We drop columns with more that 2600 Nan elements, that includes 'Unnamed: 22','Unnamed: 23',\
'Age', 'Time'and 'Species'
'''
drop_cols = list(null_values[null_values >=2600].index)
df = df.drop(drop_cols, axis=1)
'''
Next thing to do is drop other columns, that even having great quantity of data they are heterogeneous
strings or simiar to other columns.
'''
drop_cols = ['Name','href','href formula','pdf','Case Number.1','Case Number.2','original order']
df = df.drop(columns=drop_cols, axis=1)
#Let's check atual columns
print(df.columns)
#Let's check about NaN reaminig values.
null_values = df.isnull().sum()
null_values[null_values > 0]

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Sex ', 'Injury', 'Fatal (Y/N)', 'Investigator or Source'],
      dtype='object')

Country                    43
Area                      402
Location                  496
Activity                  527
Sex                       567
Injury                     27
Fatal (Y/N)                19
Investigator or Source     15
dtype: int64

Now we have less NaN values and data that could be useful for us. Now it is necessary to check the column names in order to make easy work with it.

In [20]:
# Renaming wrong named columns
df.rename(columns={'Sex ':'Sex','Fatal (Y/N)':'Fatal','Investigator or Source':'Source'},inplace=True)
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Sex', 'Injury', 'Fatal', 'Source'],
      dtype='object')

In this point it is necessary to start cleaning the received data. Let's start for the most homogeneus columns in order to do first the easier tasks.

In [21]:
#Type columns has values with the same meaning called by differents ways.
df['Type'].value_counts()

Unprovoked      4386
Provoked         557
Invalid          519
Sea Disaster     220
Boat             200
Boating          110
Name: Type, dtype: int64

In [22]:
df['Type'] = df['Type'].str.replace('Boating', 'Boat')
df['Type'].value_counts()
#Now Type column has uniform values.

Unprovoked      4386
Provoked         557
Invalid          519
Boat             310
Sea Disaster     220
Name: Type, dtype: int64

In [23]:
#lets check Fatal column in order to clean those Data:
df['Fatal'].value_counts()

N          4315
Y          1552
UNKNOWN      94
 N            8
N             1
F             1
#VALUE!       1
n             1
Name: Fatal, dtype: int64

In [24]:
# Thre only should have three values: Y, N and UNKNOWN so let's clean them:
# first it is necessary to suprime empty spaces: 
df['Fatal'] = df['Fatal'].str.replace(' ', '').str.replace('F','Y').str.replace('#VALUE!','UNKNOWN').str.replace('n','N')
df['Fatal'].value_counts()

N          4325
Y          1553
UNKNOWN      95
Name: Fatal, dtype: int64

In [26]:
# Let'se check the values in sex column:
df['Sex'].value_counts()

M      4835
F       585
M         2
.         1
lli       1
N         1
Name: Sex, dtype: int64

In [28]:
df['Sex'] = df['Sex'].str.replace(' ', '')

df = df.drop(df[(df['Sex'] == 'lli') | (df['Sex'] == '.') | (df['Sex'] == 'N')].index)
df['Sex'].value_counts()

M    4837
F     585
Name: Sex, dtype: int64

In [67]:
#subdf = df[df.isnull().sum().index]
#subdf =[i for i in df['Location'] if i.isnull()]
from modules.functions import get_poor_rows
from modules.functions import drop_by_index
bad_indexes = get_poor_rows(df) 

df = df.drop(df.iloc[bad_indexes].index)
df.shape

(5989, 12)

(5882, 12)

In [48]:
# Let's check the quality of data according to date ranges. It is possible that the quality of old data were not so good for the analysis that we are trying to do.
#df['Year'].value_counts()
filtered_dataframe = df[df["Year"] < 2000]
print(df.shape)
print(null_values[null_values>0].values.sum())
print(filtered_dataframe.shape)
null_values2 = filtered_dataframe.isnull().sum()
print(null_values2[null_values2>0].values.sum())

(5992, 22)
23109
(4137, 22)
9102